<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title></title>
    <meta name="description" content="Notes" />
    <meta name="author" content="Ishita" />
    <link rel="stylesheet" href="css/styles.css?v=1.0" />
  </head>
  <body>
    <h1>Notes Post</h1>
    <form method="POST">
        <fieldset>
            <label for="title">Title</label><br />
            <textarea id="content" name="content" rows="3" cols="100"></textarea
            ><br /><br />
            <label for="content">Content</label><br />
            <textarea id="content" name="content" rows="15" cols="100"></textarea>
            <br /><br />
            <input type="submit" value="post" size="10" />
        </fieldset>
    </form>
  </body>
</html>
