<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>The HTML5 Herald</title>
    <meta name="description" content="Notes" />
    <meta name="author" content="Ishita" />

    <link rel="stylesheet" href="css/styles.css?v=1.0" />
  </head>
  <body>
    <div class="card">
      <h2>{{ object.title }}</h2>
      <h4>Posted on {{ object.date_posted |date:"F d, Y"}}</h4>
      <p>{{ object.content }}</p>
    </div>
    <div>
      <button class="button">Update</button>
      <button class="button">Delete</button>
    </div>
    
    <script src="js/scripts.js"></script>
  </body>
</html>
