
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title></title>
    <meta name="description" content="Notes" />
    <meta name="author" content="Ishita" />
    <link rel="stylesheet" href="css/styles.css?v=1.0" />
  </head>
  <body>
    <h1>Notes</h1>
    <form method="POST">
      <h1>Delete Post</h1>
      <br /><br />
      <h2>Are you sure you want to delete post?<h2><br />
      <button type="submit">Yes, Delete</button>
      <button type="submit">No, Cancel</button>
      <br /><br />
      
    </form>
  </body>
</html>
